body {
  font-family: sans-serif;
  margin: 0;
}

.content {
  max-width: 500px;
  margin: 0 auto;
}


/* HEADING */

.header-content {
  height: 100%;
}

header {
  height: 25vw;
  max-height: 150px;
  width: 100%;
}

.udacity-logo {
  max-height: 100%;
  width: 20%;
  float: left;
}

h1 {
  float: left;
  padding-top: 5%;
  width: 80%;
  font-weight: normal;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  font-family: 'Bangers', cursive;
}

/* MEDIA QUERIES */

@media screen and (max-width: 380px) {
  h1 {
    font-size: 24px;
  }
}

@media screen and (max-width: 499px) and (min-width: 381px) {
  h1 {
    font-size: 32px;
  }
}

@media screen and (min-width: 500px) {
  h1 {
    font-size: 54px;
  }
}

@media screen and (min-width: 550px) {
  .header-content {
    padding-top: 15px;
  }
}

@media screen and (max-width: 549px) {
  .header-content {
    padding-top: 5px;
  }
}


/* MAIN SECTIONS */

main {
  background-color: #000;
  color: #fff;
}

p {
  font-family: 'Shadows Into Light', cursive;
}

p > span:hover {
  background-color: #ffff00;
  color: #000;
}

.hero {
  padding: 1em;
  max-width: 100%;
  background-color: #fff;
  color: white;
}

.hero p {
  color: #000;
}

.hero p.iama {
  color: #969696;
}

.my-picture {
  display: block;
  margin: 0 auto 10px;
  max-width: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 3px 0 #aeaeae;
  box-shadow: 0 0 3px 0 #aeaeae;
}

.my-picture:hover {
  -webkit-box-shadow: 0 0 6px 0 #aeaeae;
  box-shadow: 0 0 6px 0 #aeaeae;
}

.iama {
  max-width: 100%;
  color: #969696;
  letter-spacing: 0.05em;
  font-size: 20px;
  margin: 0;
  font-family: 'Cutive Mono';
}

.my-info {
  max-width: 100%;
  font-size: 22px;
  margin: 0 auto 20px;
}

.my-info:last-of-type {
  margin: 0;
}

.my-name {
  color: white;
}

.about-me {
  padding: 1em;
}